.container {
    margin:-1%;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    grid-area: header;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#logo{
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: auto;
    float: left;
}

#logoImage{
    
    max-width: 50%;
}


#headline{
    grid-area:headline;
    color: white;
    font-size: 120px;
}

#breadcrumb{
    grid-area:breadcrumb;
    background-color: #7253A1;
}

#breadcrumbContent{
    padding-left: 2%;
    font-size: 20px;
    color: white;
}

.desktopMenu{
    grid-area: desktopMenu;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas:"menuOne menuTwo menuThree menuFour";
    background-color: #4F7A33;
    font-size:40px;
    color:white;
    text-align: center;}

#menuOne{
    grid-area: menuOne;
    
}
#menuTwo{
    grid-area: menuTwo;
    
}
#menuThree{
    grid-area: menuThree;
    
}
#menuFour{
    grid-area: menuFour;
  
}

.menuItem{
    background-color: #4F7A33;
    border:2px solid white;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem:hover {
    background-color: gray;
    border: 2px solid gray;
}

.desktopMenu a:link{
    color: white;
}

.desktopMenu a:visited{
    color:white;
}

.hamburgerMenu{
    grid-area: hamburgerMenu;
    background-color: #4F7A33;
    padding:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburgerMenu:hover{
    background-color: gray; 
}

#hamburgerMenuImage{
    max-width: 65%;
}

.mobileNav {
    height:100%;
    width:0%;
    position: fixed;
    z-index:1;
    right:0;
    top:0;
    background-color: black;
    background-color:rgba(0,0,0, 0.9) ;
    overflow-x: hidden;
    transition:0.5s;
}

#mobileNavContent{
    position: relative;
    top: 25%;
    width:100%;
    text-align: center;
    margin-top:30px;
    color:white;
    font-size: 25px;
}

#mobileNavContent a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block; 
}

.mNavItem:hover {
    background-color: gray;
}



#mobileNavClose{
    position: absolute;
    top: 20px;
    right: 45px;
}

#birthdays{
    grid-area: yourInformation;
    margin:35px;
}

#familyBirthdaysHeader{
    background-color:#7253A1;
    color:white;
    font-size: 35px;
    margin:-1px;
    padding: 2%;
}

#familyBirthdays{
    border: 2px solid #7253A1;
}

#familyBirthdaysContent{
    overflow-x:auto;
    font-size: 18px;
    padding: 1%;
}

#familyGiftHistory{
    border: 2px solid #271a3a;
}

#familyGiftHistoryHeader{
    background-color:#271a3a;
    color:white;
    font-size: 35px;
    margin:-1px;
    padding: 2%;
}

#familyGiftHistoryContent{
    overflow-x:auto;
    font-size: 18px;
    padding: 1%;
}


#yourFamilyInformation{
    grid-area: yourFamilyInformation;
    margin:35px;
}

#yourFamilyMembers{
    border: 2px solid #2E686F;
}

#yourFamilyMemberstHeader{
    background-color:#2E686F;
    color:white;
    font-size: 35px;
    margin:-1px;
    padding: 2%;
}

#yourFamilyMemberstContent{
    background-color: white;
    border: 2px solid black;
    font-size: 30px;
    padding: 2%;
    margin:2%;
}


#upcomingHolidays{
    grid-area: holidays;
    border: 2px solid #4C0C0E;
    background-image:url("../images/holidaysBackground.png") ;
}

#upcomingHolidaysHeader{
    background-color:#4C0C0E;
    color:white;
    font-size: 35px;
    margin:-1px;
    padding: 2%;
}

#upcomingHolidayContent{
    background-color: white;
    border: 2px solid black;
    font-size: 30px;
    padding: 2%;
    margin:2%;
}

#footer{
    grid-area:footer;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    font-size:24px;
}

#footer a:link{
    color: white;
}

#disclaimer{
    font-size: 18px;
}

table{
    text-align:center; 
    border-spacing: 5px;
    border: 2px solid black;
    text-align: center;
    font-size: 14px;
    border-collapse: collapse;
}

th {
background-color: gray;
padding: 10px;
border: 2px solid black;
color: white;
font-size:16px;
}

td{
    
    padding: 5px;
    border: 2px solid black;
    font-size:12px; 
    font-weight:bold;
}


.familyRow{
    background-color: rgb(61, 168, 102);
    color:white;
    font-size:14px; 
    font-weight:bold;
    
}



/* Creating responsive layouts */
/* Creating grid of elements - Source of information/code https://codingthesmartway.com/getting-started-with-css-grid/ & https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 20em 20em 3em 1fr 1fr 15em;
        grid-template-areas:
        "header header"
        "header header"
        "breadcrumb breadcrumb"
        "yourInformation yourInformation"
        "yourFamilyInformation yourFamilyInformation"
        "footer footer";
    }

    .header{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "logo hamburgerMenu"
        "headline headline";
    }

    #headline{
        grid-area:headline;
        color: white;
        font-size: 120px;
        text-align: center;
    }
    .desktopMenu{
        display:none;
    }

    #logoImage{
    
        max-width: 80%;
    }

    }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 20em 20em 3em 1fr 1fr 15em;
        grid-template-areas:
        "header header"
        "header header"
        "breadcrumb breadcrumb"
        "yourInformation yourInformation"
        "yourFamilyInformation yourFamilyInformation"
        "footer footer";
    }

    .header{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "logo hamburgerMenu"
        "headline headline";
    }

    #headline{
        grid-area:headline;
        color: white;
        font-size: 120px;
        text-align: center;
    }

    .desktopMenu{
        display:none;
    }

    #logoImage{
    
        max-width: 80%;
    }

    }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 20em 20em 3em 1fr 1fr 1fr 10em;
        grid-template-areas:
        "header header"
        "header header"
        "breadcrumb breadcrumb"
        "yourInformation yourInformation"
        "yourFamilyInformation yourFamilyInformation"
        "footer footer";
    }

    .header{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "logo hamburgerMenu"
        "headline headline";;
    }

    #headline{
        grid-area:headline;
        color: white;
        font-size: 120px;
        text-align: center;
    }

    .desktopMenu{
        display:none;
    }

    #logoImage{
    
        max-width: 50%;
    }

    }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .container {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 20em 7em 3em 1fr 15em;
        grid-template-areas:
        "header header header"
        "desktopMenu desktopMenu desktopMenu"
        "breadcrumb breadcrumb breadcrumb"
        "yourInformation yourInformation yourFamilyInformation"
        "footer footer footer";
    }

    .header{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "logo headline headline";
    }

    #headline{
        text-align: left;
        padding-left:2%;
    }

    .hamburgerMenu{
        display:none;
    }

    .desktopMenu{
        display:grid;
    }

    #logoImage{
    
        max-width: 50%;
    }
    } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 20em 7em 3em 1fr 15em;
        grid-template-areas:
        "header header header"
        "desktopMenu desktopMenu desktopMenu"
        "breadcrumb breadcrumb breadcrumb"
        "yourInformation yourInformation yourFamilyInformation"
        "footer footer footer";
    }

    .header{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "logo headline headline";
    }

    #headline{
        text-align: left;
        padding-left:2%;
    }

    .hamburgerMenu{
        display:none;
    }
    .desktopMenu{
        display:grid;
    }
    #logoImage{
    
        max-width: 50%;
    }
    }